:root {
    --ff_vagregular: 'varroundedregular';
    /* font weight */
    --fw1: 100;
    --fw2: 200;
    --fw3: 300;
    --fw4: 400;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
    --fw9: 900;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

@font-face {
    font-family: 'varroundedregular';
    src: url('../fonts/varroundedregular');
    src: url('../fonts/varroundedregular?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/varroundedregular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/varroundedregular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/varroundedregular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/varroundedregular.svg#svgFontName') format('svg');
}

.lineBr{
    display: block;
}

/* START >>>>>> MOBILE device  for portait*/
@media all and (orientation:portrait) {
    .modal-backdrop {
        display: block !important;
        opacity: .5 !important;
        background-color: #673e91;
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
    #mob_landscape {
        display: none;
    }
    .bg_portrait {
        background: #673e91 url(../img/bg_body_mob.png) no-repeat center/cover;
        height: 100vh;
    }
    .sidebar {
        width: 250px !important;
    }
    .modal-backdrop.modal_backdrop_portait {
        display: none !important;
    }
    .modal_portrait .modal-content,
    .modal_portait .modal-content{
        max-width: 340px;
    }

    :is(.modal_portrait .modal-dialog,.modal_rotate .modal-dialog){
        max-width: 100%;
    }

    .modal_portrait .modal-dialog{
        background-color: rgba(103, 62, 137, .8);
    }

    .modal_portrait{
        display: block !important;
    }
}
/* END >>>>>> MOBILE device for portait */

/* START >>>> MOBILE device for landscape */
@media all and (orientation:landscape) {
    #mob_portait {
        display: none !important;
    }
    .modal_backdrop_active {
        display: block !important;
    }
    .sidebar {
        width: 350px !important;
    }
    .bg_landscape {
        height: 100vh;
        background: url('../img/bg_body_landscape.jpg') no-repeat center;
        background-size: cover;
    }
    .modal-backdrop {
        opacity: .5 !important;
        background-color: #fff;
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
    .modal-backdrop.modal_backdrop_landscape {
        display: none !important;
    }
}
/* END >>>> MOBILE device for landscape */

/* START >>>> desktop device > 992 */
@media (min-width:992px){
    .header_landscape .inner_header .row{
        max-width: 900px;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument{
        margin:-100px 0 0;
    }
    
}

/* START >>>> MOBILE DEVICE > 767 LANDSCAPE */
@media screen and (orientation:landscape) and (min-device-width: 390px) and (max-device-width: 844px) {
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        height: 120px;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 393px) and (max-device-width: 851px) {
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        height: 120px;
    }
}

@media all and (orientation:landscape) and (min-device-width: 320px) and (max-device-width: 991px) {
    .content_landscape .main_body_landscape {
        padding: 60px 0 0 !important;
    }
    .header_landscape .inner_header .row{
        max-width: 600px;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .avatar_block .icon_block{
        margin:-40px 0 0 !important;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 375px) and (max-device-width: 812px) {
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        height: 120px;
    }
}

@media screen and (orientation:landscape) and (min-device-width: 320px) and (max-device-width: 658px) {
    .modalSong .modal_content{
        padding: 20px !important;
    }
    .modalSong .modal_content .modal_body .icon_close{
        top:30px;
        right:20px;
    }
}

/* BELOW CODE >>>>>>>>>>>>>> IPHONE DEVICE LANDSCAPE */
 /* iphone 3 */
 @media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 
    /* .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        top:50px !important;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .icon_block .img_avatar{
        width: 80px;
        height: 80px;
        object-fit: contain;
    } */
 }
        
 /* iphone 4 */
 @media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 
    /* .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        margin-top:50px;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .icon_block .img_avatar{
        width: 80px;
        height: 80px;
        object-fit: contain;
    } */
 }
 
 /* iphone 5 */
 @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 
    /* .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        margin-top:50px;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .icon_block .img_avatar{
        width: 80px;
        height: 80px;
        object-fit: contain;
    } */
 }
 
 /* iphone 6, 6s, 7, 8 */
 @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    /* .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        margin-top: -70px;
        height: 150px;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .icon_block .img_avatar{
        width: 80px;
        height: 80px;
        object-fit: contain;
    } */
 }
     
 /* iphone 6+, 6s+, 7+, 8+ */
 @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    /* .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        margin-top:50px;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .icon_block .img_avatar{
        width: 80px;
        height: 80px;
        object-fit: contain;
    } */
 }
 
 /* iphone X , XS, 11 Pro, 12 Mini */
 @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    /* .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
        margin-top:50px;
    }
    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .icon_block .img_avatar{
        width: 80px;
        height: 80px;
        object-fit: contain;
    } */

  }

 /* iphone 12, 12 Pro */
 @media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
   
  }

 /* iphone XR, 11 */
 @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) { 
    
 }
     
 /* iphone XS Max, 11 Pro Max */
 @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    
  }

 /* iphone 12 Pro Max */
 @media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) { }
/* END >>>> MOBILE DEVICE > 767 */


/* START >>>> ALL DEVICES for MOBILE AND DESKTOP - PORTRAIT AND LANDSCAPE */

/* BELOW CODE FOR DESKTOP DEVICE */

.header_landscape {
    padding: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header_landscape .btn_MenuHamburger {
    max-width: 40px;
    background-color: transparent;
    margin: auto;
    display: block;
    border: 0;
}

.header_landscape .list_nav {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #673e8e;
    overflow: hidden;
    align-items: center;
    border: 0;
}

.header_landscape .list_nav .nav-item {
    width: calc(100% / 2);
}

.header_landscape .list_nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    display: block;
    padding: 5px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    text-align: center;
    white-space: nowrap;
    border: 0;
}

.header_landscape .list_nav .nav-item .nav-link.active {
    background-color: #ffe500;
    color: #673e8e;
    border: 2px solid #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.step_landscape {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content_landscape {
    height: 100%;
    display: flex;
    align-items: center;
}

.content_landscape .main_body_landscape {
    height: 100%;
    width: 100%;
    padding: 200px 0 0;
}

.content_landscape .main_body_landscape .inner_landscape{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li{
    position: relative;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv{
    display: none;
    position: relative;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow{
    position: relative;
    border-bottom: 10px solid #673e89;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 99;
    top:-6px;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow:after{
    content:"";
    position: absolute;
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top:22px;
}

/* arrow 1 */
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow1{
    left: 5%;
    
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow1:after{
    left:-10px;
    
}
/* arrow 2 */
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow2{
    left: 20%;
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow2:after{
    left:-10px;
}
/* arrow 3 */
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow3{
    left: 34%;
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow3:after{
    left:-10px;
}
/* arrow 4 */
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow4{
    left: 47%;
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow4:after{
    left:-10px;
}
/* arrow 5 */
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow5{
    left: 63%;
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow5:after{
    left:-10px;
}
/* arrow 6 */
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow6{
    left: 76%;
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow6:after{
    left:-10px;
}
/* arrow 7 */
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow7{
    left: 90%;
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .targetDiv .iconArrow7:after{
    left:-10px;
}



.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination{
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #673e89;
    border-radius: 10px;
    padding: 5px;
    background-color: #fff;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li{
    width: 100%;
    margin:0 5px;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li .link_bullet{
    text-decoration: none;
} 

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li .fieldLabelRadio{
    width: 100%;
    position: relative;
    z-index: 999;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li .fieldLabelRadio .fieldInputRadio{
    display: none;
}


.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li .fieldLabelRadio .box{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    cursor: not-allowed;
    transition: all .3s linear;
    color:#673e89;
    font-size: 16px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    display: flex;
    align-items: center;
    justify-content: center;
    border:3px solid #673e89;
    background-color: #ffe500;
    border-radius: 10px;
    padding: 3px;
    position: relative;
    z-index: -1;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li .fieldInputRadio:checked ~ .box{
    opacity: 1;
    cursor: pointer;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li .fieldLabelRadio .box .icon_close{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 3px solid #673e89;
    text-align: center;
    line-height: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #673e89;
    color: #fff;
    font-size: 12px;
    visibility: hidden;
}
.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_pagination li .fieldInputRadio:checked  + .box .icon_close{
    visibility: visible;
}


.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument {
    position: relative;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    cursor: pointer;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .field_chk_instrument {
    display: none;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li:nth-child(1) .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
        background-color: #673e89;
    }

    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li:nth-child(2) .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
        background-color: #ff3f8b;
    }

    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li:nth-child(3) .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
        background-color: #00a61b;
    }

    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li:nth-child(4) .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
        background-color: #ff8a00;
    }

    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li:nth-child(5) .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
        background-color: #ffde00;
    }

    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li:nth-child(6) .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
        background-color: #0095d9;
    }

    .content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li:nth-child(7) .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
        background-color: #ff2f1d;
    }

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .field_chk_instrument:checked~.bg_instrument {
    height: 100vmax;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .field_chk_instrument {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .bg_instrument {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block {
    position: relative;
    z-index: 9;
    display: block;
    padding:0 3px;
    text-align: center;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .list_instrument li .field_lbl_instrument .avatar_block .lottie_block{
    position: relative;
    z-index: 1;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .avatar_block .lottie_block .toolbar{
    background-color: red;
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .avatar_block .icon_block{
    position: relative;
    z-index: 2;
    margin:-100px 0 0;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .btnDoneReset {
    position: relative;
    top:-20px;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .btn_block .btn_prime {
    background-color: #673e8e;
    font-size: 14px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    text-transform: uppercase;
    border: 2px solid #ff3f93;
    padding: 5px 30px;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .btn_block .btn_prime:disabled {
    opacity: .3;
    cursor: not-allowed;
}

.content_landscape .main_body_landscape .tab-content .tabbed_landscape .inner_landscape .btn_block .btn_prime:not(:last-child) {
    margin: 0 15px 0 0;
}

.content_landscape .main_body_landscape .tab-content .vertical_scrollbar {
    max-height: 300px;
    overflow: auto;
    padding: 0 0 50px;
}

.content_landscape .main_body_landscape .tab-content .list_song>li {
    background-color: #673e8e;
    border: 3px solid #ffe500;
    border-radius: 40px;
    overflow: hidden;
    padding: 10px 30px;
}

.content_landscape .main_body_landscape .tab-content .list_song>li:not(:last-child) {
    margin: 0 0 10px;
}

.content_landscape .main_body_landscape .tab-content .list_song li .txt_song {
    font-size: 20px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    color: #fff;
}

.content_landscape .main_body_landscape .tab-content .list_song li .txt_toolbar_block .txt_word {
    font-size: 18px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    color: #fff;
    display: inline-block;
    margin: 0 10px 0 0;
}

.content_landscape .main_body_landscape .tab-content .list_song li .txt_toolbar_block .txt_word .txt_small {
    font-size: 12px;
    font-weight: var(--fw6);
}

.content_landscape .main_body_landscape .tab-content .list_song li .txt_toolbar_block .list_toolOption li:not(:last-child) {
    margin: 0 10px 0 0;
}

.content_landscape .main_body_landscape .tab-content .list_song li .txt_toolbar_block .list_toolOption li a .img_fit {
    max-width: 30px;
}

.toolbar_block {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar_block .list_toolbar {
    max-width: 500px;
}

.toolbar_block .list_toolbar li {
    width: calc(100% / 2);
    text-align: center;
}

.toolbar_block .list_toolbar li a {
    position: relative;
}

.toolbar_block .list_toolbar li a .img_fit {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.toolbar_block .list_toolbar li a .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    padding: 20px;
    line-height: 34px;
}

.toolbar_block .list_toolbar li a[aria-disabled="true"] {
    opacity: .5;
    cursor: not-allowed;
}

.modalCreateNew .modal-content {
    background-color: transparent;
    border: 0;
}

.modalCreateNew .modal-content .modal-body {
    background-color: #ff3f91;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 20px;
}

.modalCreateNew .modal-content .modal-body .icon_close {
    max-width: 40px;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
}

.modalCreateNew .modal-content .modal-body .sectionTitle{
    max-width: 300px;
    margin: 0 auto 30px;
}


.modalCreateNew .modal-content .modal-body .list_items li {
    width: calc(100% / 5);
    position: relative;
}

.modalCreateNew .modal-content .modal-body .list_items li:not(:last-child) {
    margin: 0 5% 0 0;
}

.modalCreateNew .modal-content .modal-body .list_items li:not(:last-child):after {
    content: '\f054';
    position: absolute;
    top: 50%;
    right: -15px;
    color: #fff;
    font-family: fontAwesome;
}

.modalCreateNew .modal-content .modal-body .list_items li a {
    text-decoration: none;
}

.modalCreateNew .modal-content .modal-body .list_items li a .dot_block {
    flex-direction: column;
}

.modalCreateNew .modal-content .modal-body .list_items li a .dot_block .txt_num {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto 10px;
    font-size: 20px;
}

.modalCreateNew .modal-content .modal-body .list_items li a .dot_block .txt_num,
.modalCreateNew .modal-content .modal-body .list_items li a .dot_block .txt_word {
    color: #fff;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
}

.modalCreateNew .modal-content .modal-body .list_items li a .dot_block .txt_word {
    line-height: 16px;
    display: inline-block;
    font-size: 11px;
}

.modalCreateNew .modal-content .modal-body .btn_primary {
    background-color: #653d8f;
    border: 2px solid #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 14px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
}

.modalCreateNew .modal-content .modal-body .btn_block {
    position: relative;
    z-index: 999;
}

.modalCreateNew .modal-content .modal-body .foot_img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    overflow: hidden;
    z-index: 1;
}

.modalCreateNew .modal-content .modal-body .foot_img .img_fit {
    position: absolute;
}

.modalCreateNew .modal-content .modal-body .foot_img .img1 {
    max-width: 58px;
    bottom: 10px;
    right: 15%;
    animation: m1 3s linear infinite;
    -webkit-animation: m1 3s linear infinite;
}

@keyframes m1 {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 15px;
    }
    50% {
        bottom: 20px;
    }
    75% {
        bottom: 10px;
    }
    100% {
        bottom: 0;
    }
}

.modalCreateNew .modal-content .modal-body .foot_img .img2 {
    max-width: 38px;
    bottom: -30px;
    left: 23%;
    animation: m2 3s linear infinite;
    -webkit-animation: m2 3s linear infinite;
}

@keyframes m2 {
    0% {
        bottom: -10px;
    }
    25% {
        bottom: -15px;
    }
    50% {
        bottom: -20px;
    }
    75% {
        bottom: -10px;
    }
    100% {
        bottom: -5px;
    }
}

.modalCreateNew .modal-content .modal-body .foot_img .img3 {
    max-width: 38px;
    bottom: 10px;
    left: 8%;
    animation: m3 3s linear infinite;
    -webkit-animation: m3 3s linear infinite;
}

@keyframes m3 {
    0% {
        bottom: 10px;
    }
    25% {
        bottom: 5px;
    }
    50% {
        bottom: 5px;
    }
    75% {
        bottom: 5px;
    }
    100% {
        bottom: 10px;
    }
}

.bg_orange {
    background-color: #fb8504;
}

.bg_purple {
    background-color: #653e83;
}

.bg_yellow {
    background-color: #fdd90d;
}

.bg_green {
    background-color: #24a120;
}

.bg_blue {
    background-color: #1d91d4;
}

.bg_pink {
    background-color: #ff3f8b;
}


/* BELOW CODE FOR MOBILE DEVICE */

body {
    overflow: hidden;
    font-family: var(--ff_vagregular);
    font-size: 16px;
}

.mob_portait,
.mob_landscape {
    height: 100%;
}


/* BELOW CODE > HEADER */

header {
    position: relative;
    padding: 20px;
}

header .inner_header .logo_block {
    display: block;
    text-align: center;
}

header .inner_header .logo_block .img_logo {
    max-width: 150px;
    margin: 0 auto;
}

header .inner_header .icon_menu {
    position: absolute;
    top: 30px;
    right: 20px;
    max-width: 30px;
}

/* BELOW CODE > MAIN CONTENT */
.main_content {
    max-width: 340px;
    margin: auto;
    padding: 0 20px;
    height: 100%;
}

.main_content .inner_content {
    height: 100%;
}

.main_content .inner_content .headtitle {
    color: #fff;
    font-size: 16px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    text-align: center;
    margin: 0 0 10px;
}

.main_content .inner_content .field_group:not(:last-child) {
    margin: 0 0 15px;
}

.main_content .inner_content .welcome_content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;
}

.main_content .inner_content .welcome_content .bigheadtitle {
    color: #fbd800;
    font-size: 24px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    margin: 0 0 20px;
}

.main_content .inner_content .welcome_content .btn_block .btn_primary {
    background-color: #fff;
    border: 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 3px solid #ff3f93;
    color: #673e91;
    font-weight: var(--fw9);
    font-family: var(--ff_vagregular);
    font-size: 20px;
}

.main_content .inner_content .welcome_content .link {
    color: #fff;
    text-decoration: underline;
    font-weight: var(--fw7);
    font-family: var(--ff_vagregular);
    font-size: 18px;
}

.mob_portait .main_content .inner_content .step_content{
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mob_portait .main_content .step_content .fillform,
.mob_portait .main_content .step_content  .fill_form {
    width: 100%;
}

/* BELOW CODE > COMMON UI DESIGN */

.pagination_block {
    position: relative;
    margin: 0 0 8px;
}

.audio-player {
    width: 100%;
    display: grid;
    grid-template-rows: 6px auto;
}

.audio-player .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    -webkit-box-shadow: 0 2px 10px 0 #0008;
    -moz-box-shadow: 0 2px 10px 0 #0008;
    top:-10px;
    border-radius: 20px;
    overflow: hidden;
}

.audio-player .timeline .progress {
    background: #673e80;
    width: 0%;
    height: 100%;
    transition: 0.25s;
}

.audio-player .controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    width: 100%;
}

.audio-player .controls>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-player .controls .play-container {
    width: 40px;
    height: 40px;
    background-color: #673e80;
    border-radius: 50%;
    z-index: 9;
    position: relative;
}

.audio-player .controls .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 5px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-left: 13px solid gold;
}

.audio-player .controls .toggle-play.play:hover {
    transform: scale(1.1);
}

.audio-player .controls .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.audio-player .controls .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 4px;
    background: #ffd700;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 5px;
    background: #ffd700;
    content: "";
    height: 15px;
    width: 3px;
}

.audio-player .controls .toggle-play.pause:hover {
    transform: scale(1.1);
}

.audio-player .controls .time {
    display: flex;
}

.audio-player .controls .time>* {
    padding: 2px;
}

.audio-player .controls .volume-container {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.audio-player .controls .volume-container .volume-button {
    height: 26px;
    display: flex;
    align-items: center;
}

.audio-player .controls .volume-container .volume-button .volume {
    transform: scale(0.7);
}

.audio-player .controls .volume-container .volume-slider {
    position: absolute;
    left: -3px;
    top: 15px;
    z-index: -1;
    width: 0;
    height: 5px;
    background: #fff;
    box-shadow: 0 0 20px #000a;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    border-radius: 30px;
    overflow: hidden;
    display: none;
}

.audio-player .controls .volume-container .volume-slider .volume-percentage {
    background: #673e80;
    height: 100%;
    width: 75%;
}

.audio-player .controls .volume-container .volume-button .volume{
    color:#673e80 !important;
}

.audio-player .controls .volume-container:hover .volume-slider {
    left: -123px;
    width: 120px;
}

.modalLoader .modal-content {
    background-color: #673e89;
    border-radius: 30px;
    border: 0;
}

.modalLoader .modal-content .img_logo {
    max-width: 200px;
    margin: 0 auto 30px;
}

.modalLoader .modal-content .txt_loader {
    color: #fff;
    font-size: 15px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
}

.modalLoader .modal-content .modalLoaderLottie {
    max-width: 400px;
    margin: auto;
}

.modalSong .modal-dialog,
.modalDownload .modal-dialog {
    max-width: 600px;
}

.modalSong .modal_content {
    background-color: #0095d9;
    border-radius: 30px;
    border: 0;
    padding:30px;
}

.modalSong .modal-content .modal_body{
    padding:0;
}
.modalSong .modal-content.innerSong {
    position: relative;
}

.modalSong .modal-content .innerSong .caption_block .fillform{
    position: relative;
    z-index: 9;
}

.modalSong .modal-content .audio_block {
    border: 5px solid #fff;
    background-color: #ffd700;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    padding:10px;
}

.modalSong .modal-content .audio_block .thumbnail {
    height: 150px;
    margin: 0 0 20px;
    background: #673e8e;
    border-radius: 20px;
    padding: 20px;
}

.modalSong .modal-content .audio_block .thumbnail .img_fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modalSong .modal-content .audio_block .control_block {
    text-align: center;
}

.modalSong .modal-content .caption_block .desc {
    color: #fff;
    font-size: 14px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
}

.modalSong .modal-content .caption_block .fillform .field_group .field_input {
    border: 2px solid #673e89;
    border-radius: 30px;
    background-color: #fff;
    padding: 0 40px 0 20px;
    height: 40px;
    font-size: 16px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
}

.modalSong .modal-content .field_group {
    position: relative;
}

.modalSong .modal-content .field_group .icon_edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#673e89;
}

.modalSong .modal-content .field_group .icon_edit .img_edit {
    max-width: 20px;
}

.modalSong .modal-content .sectionTitle{
    padding:0 15px;
}

.modalSong .modal-content .sectionTitle .txt_field {
    color: #fff;
    font-size: 12px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw6);
    margin: 0 0 10px;
}

.modalSong .modal-content .sectionTitle .desc{
    color:#ffe000;
    font-size: 13px;
    font-family: var(--fw7);
    line-height: 20px;
}

.modalSong .modal-content .sectionTitle .desc .txt_highlight{
    color:#673e80;
}

.modalSong .modal-content .status_block .btn_click {
    position: relative;
    border: 3px solid #673e89;
    border-radius: 30px;
    padding: 10px 20px 10px 50px;
    color: #673e89;
    font-size: 14px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    text-decoration: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.modalSong .modal-content .status_block .btn_click .icon_tool {
    position: absolute;
    top: -2px;
    left: -4px;
    max-width: 45px;
}

.modalSong .modal-content .musicImg_block {
    position: absolute;
    top: 15%;
    right: -18px;
}

.modalSong .modal-content .musicImg_block .img_music {
    position: relative;
}

.modalSong .modal-content .musicImg_block .img_music1 {
    max-width: 50px;
    margin-top: 60px !important;
    animation: imgM1 2s linear infinite;
}

.modalSong .modal-content .musicImg_block .img_music2 {
    max-width: 100px;
    animation: imgM2 3s linear infinite;
}

@keyframes imgM1 {
    0% {
        top: 0;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 5px;
    }
    100% {
        top: -10px;
    }
}

@keyframes imgM2 {
    0% {
        top: 0;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 5px;
    }
    100% {
        top: -10px;
    }
}


/* S > VERTICAL CUSTOM SCROLLBAR */

.mCSB_inside>.mCSB_container {
    margin-right: 20px !important;
}

.mCSB_scrollTools .mCSB_draggerContainer,
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgb(255 229 0);
    width: 5px;
}

.mCSB_scrollTools .mCSB_draggerRail,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 5px;
}

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: rgb(103 62 142);
}


/* E > VERTICAL CUSTOM SCROLLBAR */

.field_group .field_input {
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 3px solid #ff3f93;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: var(--fw7);
    font-family: var(--ff_vagregular);
    font-size: 16px;
    color: #673e91;
}

.field_group .field_input::-webkit-input-placeholder,
.field_group .field_input:-ms-input-placeholder,
.field_group .field_input::placeholder,
.fillform .field_input::-webkit-input-placeholder,
.fillform .field_input:-ms-input-placeholder,
.fillform .field_input::placeholder {
    color: #673e91;
}

.field_group .field_input::-webkit-input-placeholder,
.fillform .field_input::-webkit-input-placeholder {
    color: #673e91;
}

.field_group .field_input:-moz-placeholder,
.fillform .field_input:-moz-placeholder {
    color: #673e91;
    opacity: 1;
}

.field_group .field_input::-moz-placeholder,
.fillform .field_input::-moz-placeholder {
    color: #673e91;
    opacity: 1;
}

.field_group .field_input:-ms-input-placeholder,
.fillform .field_input:-ms-input-placeholder {
    color: #673e91;
}

.field_group .field_input::-ms-input-placeholder,
.fillform .field_input:-ms-input-placeholder {
    color: #673e91;
}

.field_group .field_input::placeholder,
.fillform .field_input::placeholder {
    color: #673e91;
}

.field_group .list_checkbox {
    margin-top: 15px;
    padding: 0 10px;
}

.field_group .list_checkbox li:not(:last-child) {
    margin: 0 0 5px;
}

.field_group .list_checkbox li .field_chk {
    position: relative;
}

.field_group .list_checkbox li .field_chk .field_input_chk {
    display: none;
}

.field_group .list_checkbox li .field_chk .dot_chk {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    float: left;
}

.field_group .list_checkbox li .field_chk .field_input_chk~.dot_chk:after {
    content: "";
    display: inline-block;
    transform: rotate(45deg);
    height: 15px;
    width: 5px;
    border: solid transparent;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    position: relative;
    top: -5px;
    right: -3px;
    z-index: 9;
}

.field_group .list_checkbox li .field_chk .field_input_chk:checked~.dot_chk:after {
    border-color: #ffffff;
}

.field_group .list_checkbox li .field_chk .txt_chk {
    float: right;
    width: calc(100% - 30px);
    color: #fff;
    font-size: 11px;
    font-weight: 400;
}

.link_white_color {
    color: #fff;
    text-decoration: underline;
}

.btn_block .btn_primary {
    background-color: #ff3f93;
    border: 2px solid #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    padding: 10px 30px;
}

.otp_block {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.otp_block .otp_input:not(:last-child) {
    margin: 0 2% 0 0;
}

.otp_block .otp_input {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #673e91;
    border: 3px solid #673e91;
    font-size: 24px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw9);
}

.btn_block .btn_submit {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #ff3f93;
    border: 3px solid #673e91;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    padding: 10px 30px;
}

.link_block .link {
    color: #673e91;
    font-size: 15px;
    font-weight: var(--fw7);
    font-family: var(--ff_vagregular);
    display: block;
    margin: 0 0 5px;
    text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.img_block {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img_block .img_music_left {
    max-width: 200px;
    position: absolute;
    bottom: -50px;
    left: -60px;
    animation: music_left 10s linear infinite;
    -webkit-animation: music_left 10s linear infinite;
}

.img_block .img_music_right {
    max-width: 60px;
    position: absolute;
    bottom: -20px;
    right: 30px;
    animation: music_right 8s linear infinite;
    -webkit-animation: music_right 8s linear infinite;
}

@keyframes music_left {
    0% {
        bottom: 0;
    }
    25% {
        bottom: -10%;
    }
    50% {
        bottom: -5%;
        opacity: .5;
    }
    100% {
        bottom: -3%;
    }
}

@keyframes music_right {
    0% {
        bottom: 0;
    }
    25% {
        bottom: -10%;
        opacity: .5;
    }
    50% {
        bottom: -5%;
    }
    100% {
        bottom: -3%;
    }
}


/* BELOW CODE > OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    z-index: 99;
    background-color: #673e91;
    opacity: .8;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    display: none;
}

.overlay_open {
    display: block;
}

.modal .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform: translateY(0) !important;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    margin: auto;
}

/* BELOW CODE > POPUP OTP */
.modal_otp .modal-content {
    background-color: #ffe600;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
}

.modal_otp .modal-content .modal-body .subtitle {
    text-align: center;
    color: #673e91;
    text-transform: uppercase;
    font-weight: var(--fw7);
    font-size: 18px;
    font-family: var(--ff_vagregular);
    margin: 0 0 50px;
}

.modal_otp .imgTop_block {
    position: absolute;
    top: 0;
    width: 100%;
}

.modal_otp .imgTop_block .imgTopLeft_comp .img_1 {
    max-width: 30px;
    position: absolute;
    top: 0;
    left: 25%;
    animation: imgL1 2s linear infinite;
    -webkit-animation: imgL1 2s linear infinite;
}

@keyframes imgL1 {
    0% {
        top: 0;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 5px;
    }
    100% {
        top: -10px;
    }
}

.modal_otp .imgTop_block .imgTopRight_comp .img_1 {
    position: absolute;
    top: 15px;
    right: 25%;
    max-width: 60px;
    animation: img1 2s linear infinite;
    -webkit-animation: img1 2s linear infinite;
}

@keyframes img1 {
    0% {
        top: 0;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 20px;
    }
    75% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

.modal_otp .imgTop_block .imgTopRight_comp .img_2 {
    position: absolute;
    top: 15px;
    right: 10%;
    max-width: 30px;
    animation: img2 3s linear infinite;
    -webkit-animation: img2 3s linear infinite;
}

@keyframes img2 {
    0% {
        top: 0;
    }
    25% {
        top: 15px;
    }
    50% {
        top: 20px;
    }
    75% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

.modal_otp .imgBottom_block .imgBottomLeft_comp .imgLB_1 {
    position: absolute;
    bottom: 15px;
    left: 10%;
    max-width: 60px;
    animation: imgLB1 2s linear infinite;
    -webkit-animation: imgLB1 2s linear infinite;
}

@keyframes imgLB1 {
    0% {
        bottom: 0;
    }
    25% {
        bottom: 15px;
    }
    50% {
        bottom: 20px;
    }
    75% {
        bottom: 10px;
    }
    100% {
        bottom: 0;
    }
}

.modal_rotate .modal-content {
    background-color: #ff9000;
    border: 3px solid #fff;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    text-align: center;
}

.modal_rotate .modal-content .subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: var(--fw7);
    font-family: var(--ff_vagregular);
    margin: 0 auto 40px;
    text-align: center;
    line-height: 30px;
}

.modal_rotate .modal-content .thumb {
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 80px;
}

.modal_rotate .modal-content .loading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal_rotate .modal-content .loading__letter {
    letter-spacing: 4px;
    font-size: 24px;
    font-weight: var(--fw7);
    font-family: var(--ff_vagregular);
    color: #fff;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  .modal_rotate .modal-content .loading__letter:nth-child(2) {
    animation-delay: .1s;	
  }
  .modal_rotate .modal-content .loading__letter:nth-child(3) {
    animation-delay: .2s;
  }
  .modal_rotate .modal-content .loading__letter:nth-child(4) {
    animation-delay: .3s;	
  }
  .modal_rotate .modal-content .loading__letter:nth-child(5) {
    animation-delay: .4s;
  }
  .modal_rotate .modal-content .loading__letter:nth-child(6) {
    animation-delay: .5s;	
  }
  .modal_rotate .modal-content .loading__letter:nth-child(7) {
    animation-delay: .6s;
  }
  .modal_rotate .modal-content .loading__letter:nth-child(8) {
    animation-delay: .8s;
  }
  .modal_rotate .modal-content .loading__letter:nth-child(9) {
    animation-delay: 1s;
  }
  .modal_rotate .modal-content .loading__letter:nth-child(10) {
    animation-delay: 1.2s;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0px)
    }
    40% {
      transform: translateY(-40px);
    }
    80%,
    100% {
      transform: translateY(0px);
    }
  }
  
  

.modalImgCap .modal_content {
    border: 5px solid #fff;
    background-image: linear-gradient(to right top, #60407f, #60407f, #60407f, #5f3f7e, #5f3f7e, #5f3f7e, #603f7e, #603f7e, #603f7e, #61407f, #61407f, #61407f);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.modalImgCap .modal_content .modal_body {
    padding: 0;
}

.modalImgCap .modal_content .modal_body .icon_close,
.modalSong .modal_content .modal_body .icon_close,
.modalDownload .modal_content .modal_body .icon_close {
    position: absolute;
    top: -10px;
    right: 0px;
    max-width: 30px;
    z-index: 9;
}

.modalSong .modal_content .modal_body .icon_close{    
    top: -35px;
    right: -25px;
}

.modalImgCap .modal_content .modal_body .thumb_block {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.modalImgCap .modal_content .modal_body .thumb_block:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.modalImgCap .modal_content .modal_body .caption_block {
    padding: 20px;
    text-align: center;
}

.modalImgCap .modal_content .modal_body .caption_block .headtitle {
    color: #ffe000;
    font-size: 40px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    margin: 0 0 10px;
}

.modalImgCap .modal_content .modal_body .caption_block .desc {
    color: #ffe000;
    font-size: 20px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    line-height: 30px;
    margin: 0;
}

.modalDownload .modal-content {
    background-color: #ffde00;
    border: 0;
    border-radius: 30px;
    border: 2px solid #fff;
}

.modalDownload .modal-content .modal-body {
    padding: 50px;
    text-align: center;
}

.modalDownload .modal-content .modal-body .fillform .field_input {
    border: 2px solid #673e89;
    border-radius: 30px;
    background-color: #fff;
    padding: 0 40px 0 20px;
    height: 40px;
    font-size: 16px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
}

.modalDownload .modal-content .modal-body .option_num_block .txt_que,
.modalDownload .modal-content .modal-body .option_num_block .list_gems li .txt_num {
    color: #673e89;
    font-size: 20px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
}

.modalDownload .modal-content .modal-body .option_num_block .list_gems .icon {
    max-width: 30px;
}

.modalDownload .modal-content .modal-body .option_num_block .list_gems li:not(:last-child) {
    margin: 0 20px 0 0;
}

.modalDownload .modal-content .modal-body .option_num_block .btn_block .btn_prime {
    background-color: #673e8e;
    font-size: 14px;
    font-family: var(--ff_vagregular);
    font-weight: var(--fw7);
    text-transform: uppercase;
    border: 2px solid #ff3f93;
    padding: 10px 40px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/* BELOW CODE > SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    background-color: #673e91;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.sidebar_open {
    right: 0;
}

.sidebar .icon_close {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 40px;
}

.sidebar .list_topnav {
    width: 100%;
    padding: 0 30px;
    text-align: center;
}

.sidebar .list_topnav li:not(:last-child) {
    margin: 0 0 50px;
}

.sidebar .list_topnav li a {
    text-align: left;
    color: #fff;
    font-size: 18px;
    font-family: var(--ff_vagregular);
    font-weight: 600;
    display: block;
    text-decoration: none;
}
/* END >>>> MOBILE AND DESKTOP ALL DEVICES - PORTRAIT AND LANDSCAPE */

:host {
    lottie-player .toolbar{
        background-color: red;
    }
}

::ng-deep{
    lottie-player .toolbar{
        background-color: red;
    }
}

:host-context{
    lottie-player .toolbar{
        background-color: red;
    }
}

lottie-player .toolbar{
    background-color: red;
}